@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
body{
    background-color: black;
    background-image: url("https://wallpapercave.com/dwp1x/wp3317864.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    font-family: 'Pirata One', cursive;
    margin-top: 0px;
}
.header{
    margin-top: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.heading{
    margin-top: 0px;
    padding: 1rem;
    color:#ca8a04;
    text-align: center;
    background-color:#111111;
}
textarea{
    background-color: #111111;
    margin: auto;
    margin-bottom: 5rem;
    box-sizing: border-box;
    display: block;
    min-height: 10vh;
    max-width: 100%;
    font-size: large;
    font-family: inherit;
    margin-top: 5rem;
    color: #ca8a04;
    font-size: 1.5rem;
    width: 450px; height: 82px;
}

* {
    box-sizing: border-box;
}

:root {
    --primary:#713f12;
    --black: darkgrey;
}

#translate-button{
    margin: auto;
    margin-bottom: 10rem;
    padding: 0rem 2rem;
    display: block;
    background-color: var(--primary);
    font-family: 'Pirata One', cursive;
    font-size: larger;
    max-width: 400px;
}
#translate-output {
    margin: auto;
    box-sizing: border-box;
    min-height: 10vh;
    max-height: 20vh;
    border: 1px solid black;
    background-color: #111111;
    width: 400px;
    width: 400px; height: 82px;
    font-size: 1.5rem;
    color: #ca8a04;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;    
    background-color: var();
    color:#94a3b8;
    text-align: center;
    background-color: #111111;
    padding-bottom: 1rem;
    
}
p{
    font-size: 1.5rem;
}
h1{
    color: #ca8a04;
}